# Logs [cite: 2026-04-02]
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories [cite: 2026-04-02]
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files [cite: 2026-04-02]
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables (สำคัญมาก!) [cite: 2026-04-02]
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript [cite: 2026-04-02]
*.tsbuildinfo